header {
  background-image: url("../img/header_bg.png");
  height: 55px;
}

header .navbar.bg-primary {
  background-color: #0095da !important;
}

/**** Image & Carousel Slick ****/
.img-carosel {
    height: 10%;
    width: 100%;
}

.img-carosel img,
.slick-list{
    width: 100%;
    height: auto;
    max-height: 100%;
}

.user-dash-carousel .img-carosel{
  height: 65%;
  outline: none;
}
.user-dash-carousel * {
  outline: none;
}
.user-dash-carousel .card {
  border: none;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

.slick-arrow,
.slick-arrow:hover,
.slick-arrow:focus{
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0,.4);
  border-radius: 50%;
  padding: 3px 0px 1px 0px;
  z-index: 9;
}

.slick-arrow:before{
  font-size: 40px;
}

h4.p-4 {
  border-bottom: 1px solid rgba(33, 37, 41, 0.25);
}

/**** Side Menu ****/
.menu-btn {
  font-size:35px;
  cursor:pointer;
  height: 100%;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 55px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: .55s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-weight: 600;
  box-sizing: border-box;
}

#mySidenav a.btn-dash:hover,
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#mySidenav a.btn-dash {
  padding: 15px;
  color: rgba(240, 240, 240, 0.71);
}

.text-justify {
  text-align: justify;
}

/**** Side Nav Recents ****/
.sidebar-recent-wrapper {
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 2px;
  /*overflow-y: auto;*/
}
.sidebar-recent-wrapper.hidden {
  display: none;
}
.sidebar-recent-wrapper.dash-top {
  top: 150px;
}
.sidebar-recent-wrapper .tags-cloud{
  max-height: 200px;
}
.sidebar-recent-wrapper.dash-top .tags-cloud{
  max-height: 130px;
}
.dash-actions {
  position: fixed;
  right: 0px;
  padding-left: 0;
  padding-right: 0;
}
.sidebar-recent-wrapper .row .image{
  display: block;
  width: 35%;
  height: 40px;
  /*margin-right: 5px;*/
  border: 1px solid gray;
  padding: 0;
}
.sidebar-recent-wrapper .row .image img {
  display: block;
  vertical-align: top;
  width: 100%;
  height: auto;
  max-height: 100%;
}
.sidebar-recent-wrapper .row .post-title {
  text-decoration: none;
  color: black;
  font-size: 15px;
  line-height: 1;
}