{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="col-6">
            <h5 class="my-4">Данные пользователя:</h5>
            <div class="group">

                    <fieldset disabled class="list-group-item">
                        <div class="mb-3">
                            <label for="usernameDash" class="form-label">Логин</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">@</span>
                                <input type="text" class="form-control disabled" placeholder="{{ account.user.username }}"
                                       id="usernameDash" aria-label="Username" aria-describedby="basic-addon1"/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="nameDash" class="form-label">Имя</label>
                            <input type="text" id="nameDash" name="nameDash"
                                   class="form-control" placeholder="{{ account.user.first_name }}"/>
                        </div>
                        <div class="mb-3">
                            <label for="lastNameDash" class="form-label">Фамилия</label>
                            <input type="text" id="lastNameDash" name="nameDash"
                                   class="form-control" placeholder="{{ account.user.last_name }}"/>
                        </div>
                    </fieldset>
            </div>

            <h5 class="my-4">Публикации:</h5>
            <div class="group">
                <div class="list-group-item p-0 mb-5">
                    <div class="toSlick user-dash-carousel">
                        {% for post in account_posts %}
                            {% include 'card_post.html' with post=post %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}