{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">

        <h3 class="h3">Список Пользователей</h3>
        {% for key, val in account_list.items %}
            <div><h5>{{ key }} -- {{ val }}</h5></div>
        {% endfor %}

        <ul class="list-group col-8">
            {% for account, post_list in account_data.items %}
                <li class="list-group-item list-group-item-action px-3 d-flex justify-content-between align-items-center">
                    <a href="{% url 'traveler:account-detail' account.id %}"
                       class="list-group-item list-group-item-action">
                        <span class="list-group-item">{{ account.user.first_name }}</span>
                        <span class="list-group-item">{{ account.post_set.count }} posts</span>
                        <span class="list-group-item">{{ post_list.count}} countries</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}