{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Traveler{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    {% if messages %}
        {% include 'modal_msg.html' %}
    {% endif %}

    <!-- Header block -->
    {% include 'header.html' %}


    <!-- Side Nav Recents -->
    {% block side_recents %}
        {% include 'side_recents.html' %}
    {% endblock %}

    <!-- Main Content section -->
    {% block content %}{% endblock content %}

    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.cookie.min.js' %}"></script>
    {% block js %}{% endblock js %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>