{% if post.visible %}
<div class="card mb-4 pb-3">
    <div class="card-img-top img-carosel">
        <img src="{{ post.postimage_set.first.picture.url }}" class="" alt="">
    </div>

    <div class="card-body">
        <div class="card-title">
            <h4>{{ post.title }}</h4>
            <small class="text-muted">
                by {{ post.author.user.first_name }} {{ post.author.user.last_name }}  |
            </small>
            <span class="text-muted">{{ post.timestamp|timesince }}</span>  |
            <span class="text-muted"><i class="bi bi-chat-dots"></i>  {{ post.postcomment_set.count }}</span>
            <p class="text-muted"><b>{{ post.country.name }}</b></p>
        </div>

        <div class="card-content">
            {{ post.content|slice:":150"|safe }}...
        </div>

        <div class="text-muted py-3">
            {% for tag in post.tags.all %}
                <span><i class="bi bi-tag"></i> {{ tag }} </span>
            {% endfor %}
        </div>
        <a href="{% url 'traveler:post-detail' post.id %}" class="btn btn-outline-primary col-3">Подробно</a>
    </div>
</div>
{% endif %}
