<div class="card" style="width: 60%">
    <div class="card-img-top img-carosel toSlick">
        {% for image in post.postimage_set.all %}
            <img src="{{ image.picture.url }}" class="" alt="">
        {% endfor %}
    </div>
    <div class="card-body">
        <div class="card-title">
            <h4>{{ post.title }} <small class="text-muted">
                by {{ post.user.first_name }} {{ post.user.last_name }}</small></h4>
            <span class="text-muted">{{ post.timestamp|timesince }}</span>
        </div>
        {{ post.content|safe }}
    </div>
</div>