{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">

        <h5 class="mb-4">Список стран с 1 и более публикацией</h5>
        <ul class="list-group col-8">
            {% for country in country_list %}
                <li class="list-group-item list-group-item-action px-3 d-flex justify-content-between align-items-center">
                    <a href="{% url 'traveler:country-detail' country.id %}"
                       class="list-group-item list-group-item-action">
                        {{ country }}
                    </a>
                    <span class="badge bg-primary rounded-pill mx-3">({{ country.post_set.count }}) публикации</span>
                </li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}