{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container col-7">

        <div class="country-description">
            <h4 class="h4 py-4">Описание:</h4>
            <div class="country-description-body">
                {{ country.description | safe }}
            </div>
        </div>
        <h4 class="h4 py-4 ">Публикации для страны - <strong>{{ country }}</strong></h4>

        {% for post in country_posts %}
            {% include 'card_post.html' %}
        {% endfor %}

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>

    <script>
    $(document).ready(function () {
        $('.toSlick').slick({
            arrows: false,
            mobileFirst: true,
        });
    });
    </script>
{% endblock %}