<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top px-5">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="{% url 'traveler:home' %}">Traveler</a>
            <button class="navbar-toggler" type="button" id="togglerBtn">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if request.user.is_authenticated %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'traveler:country-list' %}">Список стран</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'traveler:account-list' %}">Пользователи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'traveler:dash' %}">Кабинет</a>
                        </li>
                    </ul>

                    <span class="text-light mx-3 float-end">{{ request.user }}</span>
                    <a href="{% url 'traveler:logout' %}" class="btn btn-outline-light" type="submit">Выйти</a>

                {% else %}
                    <a href="{% url 'traveler:login' %}" class="btn btn-outline-light bd-highlight" type="submit">Войти</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>