{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        {% include 'side_menu.html' %}

        <div class="container col-7 pb-3">
            <!-- MAIN subscription feed -->
            <div class="posts-block subs-all">
                <h4 class="py-4">Все публикации по вашим подпискам</h4>

                {% for post in page_obj %}
                    {% include 'card_post.html' %}
                {% endfor %}

                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>

            <!-- User subscription posts -->
            <div class="posts-block subs-account visually-hidden">
                <h4 class="py-4">Публикации по подпискам на Пользователей</h4>
                {% for post in user_subs_posts %}
                    {% include 'card_post.html' %}
                {% endfor %}
            </div>

            <!-- Tag subscription posts -->
            <div class="posts-block subs-tag visually-hidden">
                <h4 class="py-4">Публикации по подпискам на Теги</h4>
                {% for post in tag_subs_posts %}
                    {% include 'card_post.html' %}
                {% endfor %}
            </div>

            <!-- Country subscription posts -->
            <div class="posts-block subs-country visually-hidden">
                <h4 class="py-4">Публикации по подпискам на Страны</h4>
                {% for post in country_subs_posts %}
                    {% include 'card_post.html' %}
                {% endfor %}
            </div>
        </div>

    {% else %}
        <div class="container col-7">
            <h4 class="py-4">Последние 10 публикаций</h4>
            {% for post in posts %}
                {% include 'card_post.html' %}
            {% endfor %}

            <div class="row py-5">
                <a href="{% url 'traveler:login' %}" class="btn btn-primary col">Читать далее</a>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}