{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
{% endblock %}

{% block content %}
    <div class="container py-5 col-7">
    {% if post.visible %}

        <h3 class="mb-4">{{ post.title}}</h3>
        <p class="mb-4">
            Автор: <strong class="text-muted">{{ post.author.user.first_name }} {{ post.author.user.last_name }}</strong><br>
            Дата: <strong class="text-muted">{{ post.timestamp | date }}</strong>
            <p class="py-0 my-1"><b>{{ post.country.name }}</b></p>
        </p>

        <div class="card-img-top img-carosel toSlick mb-4">
            {% for image in post.postimage_set.all %}
                <img src="{{ image.picture.url }}" class="slick-item slick-image" alt="">
            {% endfor %}
        </div>

        <p class="text-justify">{{ post.content|safe }}</p>

        <div class="text-muted py-3">
            {% for tag in post.tags.all %}
                <span><i class="bi bi-tag"></i> {{ tag }} </span>
            {% endfor %}
        </div>

        <div class="row m-auto">
            <button data-key_id="{{ post.id }}" class="like btn btn-outline-success col-2 me-md-2 btn-sm">
                <span>{{ post.raiting.sum }}</span>&nbsp;
                Like</button>
            <button data-key_id="{{ post.id }}" class="dislike btn btn-outline-secondary col-2 me-md-2 btn-sm">
                <span>{{ post.raiting.dis }}</span>&nbsp;
                Dislike</button>
            {% if post.author == request.user.account %}
                <form action="" method="post" class="col-2 ms-md-auto">{% csrf_token %}
                    <button id="removePost" class="col-12 btn btn-outline-danger btn-sm" type="submit">Delete</button>
                </form>
            {% endif %}
        </div>

        <!-- Comments -->
        <div class="comments my-5">
            <h5 class="mb-4">Комментарии:</h5>
            {% for comment in post.postcomment_set.all %}
                <div class="comment border-1 mb-4" id="comment_key_{{ comment.id }}">
                    <p class="text-muted">@{{ comment.author.user.username }}  |  {{ comment.timestamp }}</p>
                    <div class="ps-5">{{ comment.comment | safe }}</div>

                    {% if comment.author == request.user.account %}
                        <form class="removeComment" action="#">{% csrf_token %}
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <input type="hidden" name="post_comment_info" value="{{ comment.id }}">
                                <button class="btn btn-outline-danger me-md-2 btn-sm">
                                    <i class="bi bi-trash"></i>
                                    Remove
                                </button>
                            </div>
                        </form>
                    {% endif %}
                </div>

            {% endfor %}

        </div>
        <!-- Add comment -->
        <form id="addComment" action="" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                          style="height: 100px" name="post_comment"></textarea>
                <label for="floatingTextarea2">Ваш комментарий . . .</label>
            </div>
            <button class="btn btn-primary float-end">Comment</button>
        </form>

    {% else %}
        <div class="col-6 ms-auto">
            <h5 class="h5">ДАННЫЙ ПОСТ ЗАБЛОКИРОВАН</h5>
        </div>
    {% endif %}
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    <script>
    $(document).ready(function () {
        $('.toSlick').slick({
            arrows: true,
            mobileFirst: false,
        });

        {#const accountId = JSON.parse("{{ request.user.account.id|escapejs }}");#}
        {#const username = JSON.parse("{{ request.user.username|escapejs }}");#}
        {#const postId = JSON.parse("{{ post.id|escapejs }}");#}

        const accountId = {% autoescape off %}"{{ request.user.account.id }}"{% endautoescape %}
        const username = {% autoescape off %}"{{ request.user.username }}"{% endautoescape %}
        const postId = {% autoescape off %}"{{ post.id }}"{% endautoescape %}


        $("#addComment").submit((e) => {
            e.preventDefault();
            let form = e.target;
            let csrftoken = $(form.elements.csrfmiddlewaretoken).val();
            fetch(`/api/comment/`, {
                mode: 'same-origin',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                    "X-CSRFToken": csrftoken,
                },
                body: JSON.stringify({
                    comment: $(form.elements.post_comment).val(),
                    author: accountId,
                    post: postId,
                })
            })
                .then(status => {
                    if (status.ok) {
                        return status.json()
                    }
                })
                .then(data => {
                    $(".comments").append(`
                        <div class="comment border-1 mb-4" id="comment_key_${data.id}">
                            <p class="text-muted">@${username}  |  ${new Date(data.timestamp).toLocaleDateString()}</p>
                            <div class="ps-5">${data.comment}</div>
                        </div>
                    `);

                    if (Number(data.author) === Number(accountId)) {
                        $(`.comments > #comment_key_${data.id}`).append(`
                            <form class="removeComment" action="#">{% csrf_token %}
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <input type="hidden" name="post_comment_info" value="${data.id}">
                                    <button class="btn btn-outline-danger me-md-2 btn-sm" type="submit">
                                        <i class="bi bi-trash"></i>
                                        Remove
                                    </button>
                                </div>
                            </form>
                        `);
                    };

                    $("#floatingTextarea2").val('');
                });
        });

        $("body").on('submit', "form.removeComment", (e)=>{
            e.preventDefault();
            let form = e.target;
            let commentId = $(form.elements.post_comment_info).val();
            let csrftoken = $(form.elements.csrfmiddlewaretoken).val();

            fetch(`/api/comment/${commentId}/`, {
                mode: 'same-origin',
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                    "X-CSRFToken": csrftoken,
                }
            })
                .then(status => {
                    if(status.ok){$(`#comment_key_${commentId}`).remove()}
                });
        });

        const raitingAction = (btnSelector, propInc, propDec)=>{
            btnSelector.click((e) => {
                e.preventDefault();
                let btn = e.target;
                let post_id = $(btn).data("key_id");
                post_rud(postId).then((data) => {
                    let userLike = +data.raiting[username] && propInc === "sum" ? 1 : 0; // to make disabled button in future
                    post_rud(postId, "PATCH",
                        {raiting: {[propDec]: data.raiting[propDec], [propInc]: data.raiting[propInc] + 1, [username]: userLike}})
                        .then((res) => {
                            btnSelector.children("span").html(res.raiting[propInc])
                        });
                });
            });
        }

        raitingAction($(".dislike"), "dis", "sum");
        raitingAction($(".like"), "sum", "dis");

        const post_rud = async (postId, method = 'GET', data = {}) => {
            let csrftoken = Cookies.get("csrftoken");

            const response = await fetch(`/api/post/${postId}/`, {
                method: method,
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                    "X-CSRFToken": csrftoken,
                },
                body: method === 'GET' ? null : JSON.stringify(data),
            });

            return await response.json();
        };

    });
    // todo: refactor all with react.js
    </script>

{% endblock %}