{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container py-3">
        <div class="row">
            <div class="col-8 mx-auto list-group-item">
                {% if perms.traveler.add_post %}

                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="mb-3 row">
                        <label for="post_title" class="col-sm-2 col-form-label">Заголовок</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" id="post_title" placeholder="Ваш заголовок"/>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="countryList" class="col-sm-2 col-form-label form-label">Страна</label>
                        <div class="col-sm-10">
                            <input class="form-control col-10" list="datalistOptions" id="countryList"
                                   placeholder="Выберите страну" name="country">
                            <datalist id="datalistOptions">
                            </datalist>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="countryDescription" class="col-sm-2 col-form-label form-label">Данные о стране</label>
                        <div class="col-sm-10">
                            <textarea class="form-control col-10 overflow-auto" readonly id="countryDescription"
                                      placeholder="Описание" name="country_des" style="height: 100px"/></textarea>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="post_content" class="col-sm-2 col-form-label">Контент</label>
                         <div class="col-10">
                             <textarea class="form-control" placeholder="Ваш контент. . ." id="post_content"
                                       style="height: 100px" name="content"></textarea>
                         </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="post_title" class="col-sm-2 col-form-label">Изображения</label>
                        <div class="col-sm-10">
                            <input type="file" accept="image/*" multiple="multiple" class="form-control" id="post_images" name="post_images"/>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="post_title" class="col-sm-2 col-form-label">Теги</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="post_tags" name="tags" placeholder="Укажите через пробел"/>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-sm float-end">Создать</button>
                </form>

                {% else %}
                    <div class="alert alert-danger" role="alert">
                        <p class="text-center">Вам <b>не разрешено</b> добавлять публикации!</p>
                        <p class="text-center">Обратитесь к администратору за помощью</p>
                        <p class="text-center"><i class="bi bi-envelope-fill"></i> help@traveler.kg</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/post_create.js' %}"></script>
{% endblock %}
