<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background: #f6f9fc;
        }
        h1 {
            font-weight: 900;
            font-size: 25px;
        }
        h2, p {
            text-align: center;
            font-size: 18px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Traveler.ai</h1>
    <h2>{{ name }}, Thank you for your registration!</h2>
    <p>We hope you will enjoy all benefits of our application</p>
</div>
</body>
</html>