<div class="col col-2 sidebar-recent-wrapper float-end list-group-item {{ class }}">

    <div class="sidebar-recent py-2">
        <!--================ RECENT POSTS =================-->
        <aside class="mb-4">
            <h5>Последние 3 публикации</h5>
            {% for post in post_recent %}
                <div class="px-3">

                    <div class="row border">
                        <div class="image col-3">
                            <img src="{{ post.postimage_set.first.picture.url }}" alt="" class="">
                        </div>

                        <a href="{% url 'traveler:post-detail' post.id %}" class="col-7 post-title">{{ post.title }}</a>
                    </div>
                </div>
            {% endfor %}
        </aside>

        <!--================ TAG CLOUD =================-->
            <h5>Теги</h5>
        <aside class="overflow-auto my-4 tags-cloud">
            {% for tag in tag_list %}
                <a href="#" class="btn btn-outline-secondary btn-sm">{{ tag }}</a>
            {% endfor %}
        </aside>

        <!--================ TOP 5 USERS =================-->
        <aside class="my-4">
            <h5>Топ пользователей</h5>
            {% for account in account_top %}
                <a href="{% url 'traveler:account-detail' account.id %}" class="btn btn-outline-dark">{{ account.user }}</a>
            {% endfor %}
        </aside>

    </div>
</div>
