<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <a class="menu-link" data-filter="subs-all" href="#">Общий</a>
    <a class="menu-link" data-filter="subs-tag" href="#">По тегам</a>
    <a class="menu-link" data-filter="subs-country" href="#">По странам</a>
    <a class="menu-link" data-filter="subs-account" href="#">По пользователям</a>
{#    <a class="btn btn-outline-dark btn-dash" href="{% url 'traveler:country-list' %}">Список стран</a>#}
{#    <a class="btn btn-outline-dark btn-dash" href="{% url 'traveler:dash' %}">Кабинет</a>#}
</div>

<span class="menu-btn position-fixed align-self-stretch col-0 bg-dark text-light px-2">&#9776;</span>



