{% extends 'base.html' %}
{% load static %}

{% block side_recents %}
    {% include 'side_recents.html' with class="dash-top"%}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h5 class="my-4">Ваши подписки:</h5>
                <form action="" method="post">{% csrf_token %}
                    <ul class="list-group country-group">
                        <li class="list-group-item">
                            <h5>Страны:</h5>
                            <ul class="list-group">
                                {% for country in country_list %}
                                    <li class="list-group-item list-group-item-action">
                                        {% if country in request.user.account.country_subs.all %}
                                            <input checked class="form-check-input me-1" type="checkbox" name="country"
                                                   value="{{ country }}">
                                        {% else %}
                                            <input class="form-check-input me-1" type="checkbox" name="country"
                                                   value="{{ country }}">
                                        {% endif %}
                                        {{ country }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <h5>Теги:</h5>
                            <ul class="list-group">
                                {% for tag in tag_list %}
                                    <li class="list-group-item list-group-item-action">
                                        {% if tag in request.user.account.tag_subs.all %}
                                            <input checked class="form-check-input me-1" type="checkbox" name="tag"
                                                   value="{{ tag }}">
                                        {% else %}
                                            <input class="form-check-input me-1" type="checkbox" name="tag"
                                                   value="{{ tag }}">
                                        {% endif %}
                                        {{ tag }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <h5>Пользователи:</h5>
                            <ul class="list-group">
                                {% for user in user_list %}
                                    <li class="list-group-item list-group-item-action">
                                        {% if user in request.user.account.user_subs.all %}
                                            <input checked class="form-check-input me-1" type="checkbox" name="user"
                                                   value="{{ user.id }}">
                                        {% else %}
                                            <input class="form-check-input me-1" type="checkbox" name="user"
                                                   value="{{ user.id }}">
                                        {% endif %}
                                        {{ user.user.first_name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    <button class="btn btn-primary my-4 ms-auto">Сохранить</button>
                </form>
            </div>

            <div class="col-6">
                <h5 class="my-4">Ваши данные:</h5>
                <div class="group">
                    <form>
                        <fieldset disabled class="list-group-item">
                            <div class="mb-3">
                                <label for="usernameDash" class="form-label">Логин</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                    <input type="text" class="form-control disabled" placeholder="{{ user.username }}"
                                           id="usernameDash" aria-label="Username" aria-describedby="basic-addon1"/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="nameDash" class="form-label">Имя</label>
                                <input type="text" id="nameDash" name="nameDash"
                                       class="form-control" placeholder="{{ user.first_name }}"/>
                            </div>
                            <div class="mb-3">
                                <label for="lastNameDash" class="form-label">Фамилия</label>
                                <input type="text" id="lastNameDash" name="nameDash"
                                       class="form-control" placeholder="{{ user.last_name }}"/>
                            </div>
                            <button type="submit" class="btn btn-primary disabled btn-sm float-end">Обновить</button>
                        </fieldset>
                    </form>
                </div>

                <h5 class="my-4">Ваши публикации:</h5>
                <div class="group">
                    <div class="list-group-item p-0 mb-5">
                        <div class="toSlick user-dash-carousel">
                            {% for post in user.account.post_set.all %}
                                {% include 'card_post.html' with post=post %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2 py-4 dash-actions">
                <div class="list-group">
                    <a href="{% url 'traveler:post-create' %}" class="btn btn-success mb-1 btn-sm">Создать пост</a>
                    <a href="#" class="btn btn-danger disabled btn-sm">Удалиться</a> {# временно #}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.toSlick').slick({
                mobileFirst: true,
                dots: true,
            });
        });
    </script>
{% endblock %}